.card1{
  background-color: aqu;
}

.body{
  background-color: black;
}

.icon-container{
font-size: 50px;
  transition: background-color 0.3s;
  border-radius: 50px;
}
.heart-icon {
  color: #c27070;
  transition: color 0.3s; 
}

.heart-icon:hover {
  color: #ff0000;  
}
.icon-container:hover {
  background-color: pink; 
}